@import "variables";
@import "functions";

/* Customizer Icon Styles */
.customize-pane-parent > li#accordion-section-plum_sec_pro h3:before {
  content: "\f05a";
  font-family: "Font Awesome 5 Free";
}

/* ----------------
Important Links
 -----------------*/
.plum-important-links{
  background: @accent;
  padding: 10px 15px;
  color: #FFF !important;
  text-align: center;
  display: block;
  margin: 15px 5px;
  line-height: 1.2;
  box-shadow: none;
  border-radius: 5px;
  font-style: normal;
  text-decoration: none;
  .transition( ease all .05s);
}
.plum-important-links:hover{
  background: darken(@accent, 5%);
  transform: translateY(1px);
}

/*-------------------
Enable Disable Switch Control
-------------------*/
.enable-disable-switch {
  position: relative;
  width: 100px;
  margin-right: 15px;
  overflow: hidden;
  cursor: pointer;
}

.enable-disable-switch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin .3s ease-in 0s;
  -webkit-transition: margin .3s ease-in 0s;
  -o-transition: margin .3s ease-in 0s;
  transition: margin .3s ease-in 0s
}

.enable-disable-switch-inner > div {
  float: left;
  position: relative;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.enable-disable-switch-inner .enable-disable-switch-enabled {
  background-color: #d4d4d4;
  color: #FFF
}

.enable-disable-switch-inner .enable-disable-switch-disabled {
  background-color: #d4d4d4;
  color: #FFF;
  text-align: right
}

.enable-disable-switch-switch {
  font-size: 11px;
  text-align: center;
  width: 53px;
  margin: 0;
  border: 0 solid #999;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0
}

.enable-disable-switch-enabled .enable-disable-switch-switch {
  background: #0073aa;
  left: 0
}

.enable-disable-switch-disabled .enable-disable-switch-switch {
  background: #7D7D7D;
  right: 0
}
.switch-enable .enable-disable-switch-inner {
  margin-left: 0
}

/*--------------
  Sidebar Layout
--------------*/

.image_radio_button_control {
  .radio-button-label {
    & > input {
      display: none;
    }
    img {
      width: 45%;
      margin: 3px 5px;
    }
  }
}

.image_radio_button_control input[type=radio]:checked + img {
  box-shadow: 0 0 3px rgba(30, 140, 190, 1);
}
