/* top slider */
.slider-container {
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	.swiper-slide {
		position: relative;
		img {
			width: 100%;
		}
	}
	.slidecaption {
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		text-align: center;
		font-family: inherit;
		background: none;
		pointer-events: none;
		@media screen and (max-width: 600px) {
			.transform(scale(0.7));
			bottom: 15px;
		}
		a { text-decoration:  none;
			border-bottom: none; } 
		.slide-title {
			display: inline-block;
			font-size: 28px;
			padding: 10px;
			background: fade(@accent,50%);
			border-radius: 5px;
			color: white;
			font-weight: normal;
		}		
		.slide-desc span {
			box-shadow: inset 0 3px 2px fade(#4a4a4a,30%);
			background: -webkit-linear-gradient(fade(black,15%),fade(black,0%));;
			/* border-left: solid 4px black; */
			display: inline-block;
			color: white;
			font-size: 15px;
			padding: 8px;
		} 
		.slide-cta span {
			background: fade(black, 70%);
			font-weight: bold;
			display: inline-block;
			font-size: 16px;
			margin-top: 5px;
			padding: 10px;
			border-bottom: solid 2px black;
			color: white; 
		}
	} 
}
